body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  height: 570px;
  width: 350px;
  background-color: black;
  margin: auto;
}
.express,
.result {
  color: aliceblue;
  text-align: right;
  margin-top: 5px;
}
.express {
  height: 60px;
  width: 100%;
  font-size: 50px;
}
.result {
  height: 40px;
  font-size: 24px;
}
.btn-group {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.btn-group * {
  width: 76px;
  height: 76px;
  line-height: 78px;
  border-radius: 50%;
  background-color: #333435;
  color: #FAFAFA;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}
.delete-btn {
  width: 30px;
  height: auto;
  border-radius: 0;
  background-color: transparent;
}
.btn-group:nth-child(5) li:nth-child(1){
  width: 170px;
  border-radius: 30px;
}

.btn-group li:nth-child(4),
.btn-group:nth-child(5) li:nth-child(3) {
  background-color: orange;
}